USE [ECommerceDB]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 22-01-2025 08:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[CUSTOMERID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[HOUSENO] [nvarchar](50) NULL,
	[STREET] [nvarchar](50) NULL,
	[TOWN] [nvarchar](50) NULL,
	[POSTCODE] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERITEMS]    Script Date: 22-01-2025 08:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERITEMS](
	[ORDERITEMID] [int] IDENTITY(1,1) NOT NULL,
	[ORDERID] [int] NULL,
	[PRODUCTID] [int] NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [decimal](9, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERITEMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 22-01-2025 08:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORDERID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMERID] [nvarchar](10) NULL,
	[ORDERDATE] [date] NULL,
	[DELIVERYEXPECTED] [date] NULL,
	[CONTAINSGIFT] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 22-01-2025 08:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCTID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTNAME] [nvarchar](50) NULL,
	[COLOUR] [nvarchar](20) NULL,
	[SIZE] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CUSTOMERS] ON 

INSERT [dbo].[CUSTOMERS] ([CUSTOMERID], [FIRSTNAME], [LASTNAME], [EMAIL], [HOUSENO], [STREET], [TOWN], [POSTCODE]) VALUES (1, N'Bob', N'Marshal', N'bob@aol.com', N'1A', N'Uppingham Gate', N'Uppingham', N'LE15 9NY')
INSERT [dbo].[CUSTOMERS] ([CUSTOMERID], [FIRSTNAME], [LASTNAME], [EMAIL], [HOUSENO], [STREET], [TOWN], [POSTCODE]) VALUES (2, N'Jack', N'Ross', N'jack@yahoo.com', N'4B', N'Strabrokeway', N'Wortley', N'LS12 4NB')
INSERT [dbo].[CUSTOMERS] ([CUSTOMERID], [FIRSTNAME], [LASTNAME], [EMAIL], [HOUSENO], [STREET], [TOWN], [POSTCODE]) VALUES (3, N'Chris', N'Gregory', N'chris@gmail.com', N'7A', N'Marsh Lane', N'Leeds', N'LS9 7NE')
SET IDENTITY_INSERT [dbo].[CUSTOMERS] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERITEMS] ON 

INSERT [dbo].[ORDERITEMS] ([ORDERITEMID], [ORDERID], [PRODUCTID], [QUANTITY], [PRICE]) VALUES (2, 1, 1, 3, CAST(45.00 AS Decimal(9, 2)))
INSERT [dbo].[ORDERITEMS] ([ORDERITEMID], [ORDERID], [PRODUCTID], [QUANTITY], [PRICE]) VALUES (3, 1, 4, 1, CAST(120.00 AS Decimal(9, 2)))
INSERT [dbo].[ORDERITEMS] ([ORDERITEMID], [ORDERID], [PRODUCTID], [QUANTITY], [PRICE]) VALUES (4, 2, 2, 1, CAST(150.00 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[ORDERITEMS] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([ORDERID], [CUSTOMERID], [ORDERDATE], [DELIVERYEXPECTED], [CONTAINSGIFT]) VALUES (1, N'2', CAST(N'2023-05-03' AS Date), CAST(N'2023-05-10' AS Date), 0)
INSERT [dbo].[ORDERS] ([ORDERID], [CUSTOMERID], [ORDERDATE], [DELIVERYEXPECTED], [CONTAINSGIFT]) VALUES (2, N'1', CAST(N'2023-06-07' AS Date), CAST(N'2023-06-15' AS Date), 0)
INSERT [dbo].[ORDERS] ([ORDERID], [CUSTOMERID], [ORDERDATE], [DELIVERYEXPECTED], [CONTAINSGIFT]) VALUES (3, N'3', CAST(N'2023-07-10' AS Date), CAST(N'2023-07-25' AS Date), 1)
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([PRODUCTID], [PRODUCTNAME], [COLOUR], [SIZE]) VALUES (1, N'Tennis Ball', N'Yellow', N'S')
INSERT [dbo].[PRODUCTS] ([PRODUCTID], [PRODUCTNAME], [COLOUR], [SIZE]) VALUES (2, N'Tennis Net', N'White', N'XL')
INSERT [dbo].[PRODUCTS] ([PRODUCTID], [PRODUCTNAME], [COLOUR], [SIZE]) VALUES (3, N'Tennis Racket', N'White', N'L')
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
ALTER TABLE [dbo].[ORDERITEMS]  WITH CHECK ADD FOREIGN KEY([ORDERID])
REFERENCES [dbo].[ORDERS] ([ORDERID])
GO
ALTER TABLE [dbo].[ORDERITEMS]  WITH CHECK ADD FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCTID])
GO
